<%- include("partials/header") %>

	<div class="container">
		<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
		<h1 class="landing-header-hcm">Welcome, <%= currentUser.firstName %>!</h1>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<a href="/orders">
					<div class="landing-grid-hcm">
						<h4 class="landing-cta-hcm">
							Search Orders
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="/users/<%= currentUser._id %>">
					<div class="landing-grid-hcm">
						<h4 class="landing-cta-hcm">
							Profile
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<a href="/blog/order-status-meaning">
					<div class="landing-grid-hcm">
						<h4 class="landing-cta-hcm">
							Order Status Meaning
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="http://www.healthcomplexmedical.com">
					<div class="landing-grid-hcm">
						<h4 class="landing-cta-hcm">
							Website
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-2"></div>
		</div>
		<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
		<h1 class="landing-header-cape">Welcome, <%= currentUser.firstName %>!</h1>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<a href="/orders">
					<div class="landing-grid-cape">
						<h4 class="landing-cta-cape">
							Search Orders
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-5">
				<a href="/users/<%= currentUser._id %>">
					<div class="landing-grid-cape">
						<h4 class="landing-cta-cape">
							Profile
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<a href="/blog/order-status-meaning">
					<div class="landing-grid-cape">
						<h4 class="landing-cta-cape">
							Order Status Meaning
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-5">
				<a href="http://www.capemedical.com">
					<div class="landing-grid-cape">
						<h4 class="landing-cta-cape">
							Website
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-1"></div>
		</div>
		<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
		<h1 class="landing-header-ahcah">Welcome, <%= currentUser.firstName %>!</h1>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<a href="/orders">
					<div class="landing-grid-ahcah">
						<h4 class="landing-cta-ahcah">
							Search Orders
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-5">
				<a href="/users/<%= currentUser._id %>">
					<div class="landing-grid-ahcah">
						<h4 class="landing-cta-ahcah">
							Profile
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<a href="/blog/order-status-meaning">
					<div class="landing-grid-ahcah">
						<h4 class="landing-cta-ahcah">
							Order Status Meaning
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-5">
				<a href="http://www.ahcah.com">
					<div class="landing-grid-ahcah">
						<h4 class="landing-cta-ahcah">
							Website
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-1"></div>
		</div>
		<% } else { %>
		<h1 class="landing-header-global">Welcome, <%= currentUser.firstName %>!</h1>
		<div class="row">
			<div class="col-md-4">
				<a href="/orders">
					<div class="landing-grid-global">
						<h4 class="landing-cta-global">
							Search Orders
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="/blog/order-status-meaning">
					<div class="landing-grid-global">
						<h4 class="landing-cta-global">
							Order Status Meaning
						</h4>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="/users/<%= currentUser._id %>">
					<div class="landing-grid-global">
						<h4 class="landing-cta-global">
							Profile
						</h4>
					</div>
				</a>
			</div>
		</div>
		<% } %>
	</div>

<%- include("partials/footer") %>