<%- include("../partials/header") %>

	<div class="container">
		<header class=jumbotron>
			<div class="container">
				<h1>Orders</h1>
				<hr>
				<form class="form-group my-2 my-lg-0" action="/orders" method="GET">
					<!-- <input class="form-control mr-sm-2" type="text" name="search" placeholder="Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full Name'"> -->
					<fieldset>
						<label class="text-left">Last Name *</label>
						<input class="form-control mr-sm-2 col-lg-4 col-md-6 col-sm-12" type="text" name="lastName" value="<%= query.lastName %>" required>
					</fieldset>
					<fieldset>
						<label class="text-left mt-2">Date of Birth * (MM/DD/YYY) <i class="fa fa-info-circle order-note" type="button" title="For DOB's that contain a single digit month or day (01/01/1900), remove the 0's in your search (1/1/1900)" aria-hidden="true"></i></label>
						<input class="form-control mr-sm-2 col-lg-4 col-md-6 col-sm-12" type="text" name="dob" value="<%= query.dob %>" required>
					</fieldset>
					<!-- <fieldset>
						<label class="text-left mt-2">Address</label>
						<input class="form-control mr-sm-2 col-lg-4 col-md-6 col-sm-12" type="text" name="address" value="<%= query.address %>">
					</fieldset> -->
					<div class="collapse" id="collapseComment">
						<div class="well">
							<fieldset>
								<label class="text-left mt-2">Street Address</label>
								<input class="form-control mr-sm-2 col-lg-4 col-md-6 col-sm-12" type="text" name="address" value="<%= query.address %>">
							</fieldset>
						</div>
					</div>
					<div class="mt-3">
						<input class="btn green-btn my-sm-0" type="submit" value="Search">
						<a class="btn green-btn my-sm-0 mx-sm-1" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
						<span aria-hidden="true"></span> Advanced Search</a>
						<!-- Refactor - two links in form -->
						<form action="/orders">
							<a class="btn green-btn my-2 my-sm-0 text-decoration-none" id="phone-hide" href="/orders">Reset Search</a>
						</form>
					</div>
				</form>
			</div>
		</header>
		<% if (noSearch) { %>
		<% } else { %>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped" id="order-table">
						<thead>
							<tr>
								<th scope="col" id="phone-hide">Order ID</th>
								<th scope="col">Date Created</th>
								<th scope="col">Full Name</th>
								<th scope="col">Date Of Birth</th>
								<th scope="col">Branch</th>
								<th scope="col" id="phone-hide">State</th>
								<th scope="col" id="phone-hide"></th>
							</tr>
						</thead>
						<tbody>
							<% orders.forEach(function(order){ %>
								<tr>
									<td scope="row" id="phone-hide"><%= order.orderId %></td>
									<td><%= order.dateCreated %></td>
									<td><a class="no-match" href="/orders/<%= order._id %>"><%= order.firstName + " " + order.lastName %></a></td>
									<td><%= order.dateOfBirth %></td>
									<td><%= order.branch %></td>
									<td id="phone-hide"><%= order.state %></td>
									<td id="phone-hide"><a class="btn button-style btn-md green-btn" id="btn-spacing product-qty" href="/orders/<%= order._id %>" role="button">More Info</a></td>
								</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>
		<% }%>
	</div>
	
<%- include("../partials/footer") %>