<%- include("../partials/header") %>

<div class="container">
	<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
		<a class="btn button-style btn-md hcm-btn mb-5" href="/orders?lastName=<%= order.LastName %>&dob=<%= order.DOB.slice(0, -12) %>&address=<%= order.Street %>" role="button">Back To Order Search</a>
	<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
		<a class="btn button-style btn-md cape-btn mb-5" href="/orders?lastName=<%= order.LastName %>&dob=<%= order.DOB.slice(0, -12) %>&address=<%= order.Street %>" role="button">Back To Order Search</a>
	<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
		<a class="btn button-style btn-md ahcah-btn mb-5" href="/orders?lastName=<%= order.LastName %>&dob=<%= order.DOB.slice(0, -12) %>&address=<%= order.Street %>" role="button">Back To Order Search</a>
	<% } else { %>
		<!-- Add all other companies here -->
	<% } %>
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
							<th class="hcm-table-title" scope="col">Sales Order: <%= order.SalesOrderId %></th>
						<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
							<th class="cape-table-title" scope="col">Sales Order: <%= order.SalesOrderId %></th>
						<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
							<th class="ahcah-table-title" scope="col">Sales Order: <%= order.SalesOrderId %></th>
						<% } else { %>
							<!-- Add all other companies here -->
						<% } %>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Order Status</th>
						<% for (i = 0; i < qualPending.length; i++) { %>
							<% if (order["Work In Progress_WIP State"] === apptBooked[i]) { %>
								<td>Appointment Booked</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === awaitConfirmation[i]) { %>
								<td>Awaiting Confirmation</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === billingReview[i]) { %>
								<td>Billing Review</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === delivered[i]) { %>
								<td>Delivered</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === idsOrdPending[i]) { %>
								<td>IDS Order Pending</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === idsOrdStaged[i]) { %>
								<td>IDS Order Staged for Shipment</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === inWarehouse[i]) { %>
								<td>In Warehouse, Awaiting Shipping</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === misc[i]) { %>
								<td>Misc - Contact Provider for Additional Information</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === notApplic[i]) { %>
								<td>Not Applicable</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === withScheduling[i]) { %>
								<td>Order With Scheduling</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === pendingPatientContact[i]) { %>
								<td>Pending Patient Contact</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === priAuthPending[i]) { %>
								<td>Prior Authorization Pending</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === ptReqDelay[i]) { %>
								<td>PT Requested Delay</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === qualPending[i]) { %>
								<td>Qualification Pending</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === remoteSetupPend[i]) { %>
								<td>Remote Setup Pending</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === setupComplete[i]) { %>
								<td>Setup Complete</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === stagedDelivery[i]) { %>
								<td>Staged for Delivery</td>
							<% } %>
							<% if (order["Work In Progress_WIP State"] === stagedPickup[i]) { %>
								<td>Staged for Pickup</td>
							<% } %>
						<% } %>
					</tr>
					<tr>
						<th scope="row">Date Created</th>
						<td><%= order.CreateDT %></td>
					</tr>
					<% if (!order["Date Qualified_15"]) { %>
						<tr>
							<th scope="row">Qualification Date</th>
							<td>Qualification Pending</td>
						</tr>
					<% } else { %>
						<tr>
							<th scope="row">Qualification Date</th>
							<td><%= order["Date Qualified_15"] %></td>
						</tr>
					<% } %>
					<% if (!order.ActualDeliveryDt) { %>
						<tr>
							<th scope="row">Date of Shipment</th>
							<td>Pending Delivery</td>
						</tr>
					<% } else { %>
						<tr>
							<th scope="row">Date of Shipment</th>
							<td><%= order.ActualDeliveryDt.slice(0, -12) %></td>
						</tr>
					<% } %>
					<% if (!order["Marketing Rep_Full Name"]) { %>
						<tr>
							<th scope="row">Marketing Rep</th>
							<td>No Rep Assigned</td>
						</tr>
					<% } else { %>
						<tr>
							<th scope="row">Marketing Rep</th>
							<td><%= order["Marketing Rep_Full Name"] %></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<!-- <div class="col-md-2"></div> -->
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
							<th class="hcm-table-title" scope="col">Patient Information: <%= order.Patientid %></th>
						<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
							<th class="cape-table-title" scope="col">Patient Information: <%= order.Patientid %></th>
						<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
							<th class="ahcah-table-title" scope="col">Patient Information: <%= order.Patientid %></th>
						<% } else { %>
							<!-- Add all other companies here -->
						<% } %>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Full Name</th>
						<td><%= order.FirstName + " " + order.LastName %></td>
					</tr>
					<tr>
						<th scope="row">Date of Birth</th>
						<td><%= order.DOB.slice(0, -12) %></td>
					</tr>
					<tr>
						<th scope="row">Address</th>
						<td><%= order.Street + " " + order.Suite %></td>
					</tr>
					<tr>
						<th scope="row">City / State / Zip Code</th>
						<td><%= order.City + ", " + order.st + " " + order.Zip.slice(0, -5) %></td>
					</tr>
					<tr>
						<th scope="row">Primary Insurance</th>
						<td><%= order["Insurance_Pri Insurance Name"] %></td>
					</tr>
					<% if (!order["Insurance_Sec Insurance Name"]) { %>
						<tr>
							<th scope="row">Secondary Insurance</th>
							<td>No Secondary Insurance on file</td>
						</tr>
					<% } else { %>
						<tr>
							<th scope="row">Secondary Insurance</th>
							<td><%= order["Insurance_Sec Insurance Name"] %></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<h4 class="mt-5 mb-3">Order Status Clarification</h4>
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th scope="col">Order Status Name</th>
						<th scope="col">Order Status Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<% for (i = 0; i < qualPending.length; i++) { %>
						<% if (order["Work In Progress_WIP State"] === apptBooked[i]) { %>
							<th scope="row">Appointment Booked</th>
							<td>The patient has scheduled their appointment</td>
						<% } else if (order["Work In Progress_WIP State"] === awaitConfirmation[i]) { %>
							<th scope="row">Awaiting Confirmation</th>
							<td>The setup is complete and/or the order has been delivered</td>
						<% } else if (order["Work In Progress_WIP State"] === billingReview[i]) { %>
							<th scope="row">Billing Review</th>
							<td>The order is being reviewed by our billing team</td>
						<% } else if (order["Work In Progress_WIP State"] === delivered[i]) { %>
							<th scope="row">Delivered</th>
							<td>The setup is complete and/or the order has been delivered</td>
						<% } else if (order["Work In Progress_WIP State"] === idsOrdPending[i]) { %>
							<th scope="row">IDS Order Pending</th>
							<td>We have received an IDS-Oximetry order and it is being processed</td>
						<% } else if (order["Work In Progress_WIP State"] === idsOrdStaged[i]) { %>
							<th scope="row">IDS Order Staged for Shipment</th>
							<td>We have coordinate a delivery date/time with the patient</td>
						<% } else if (order["Work In Progress_WIP State"] === inWarehouse[i]) { %>
							<th scope="row">In Warehouse, Awaiting Shipping</th>
							<td>We have coordinated a delivery date/time with the patient</td>
						<% } else if (order["Work In Progress_WIP State"] === misc[i]) { %>
							<th scope="row">Misc - Contact Provider for Additional Information</th>
							<td>Please contact our team</td>
						<% } else if (order["Work In Progress_WIP State"] === notApplic[i]) { %>
							<th scope="row">Not Applicable</th>
							<td>Not Applicable</td>
						<% } else if (order["Work In Progress_WIP State"] === withScheduling[i]) { %>
							<th scope="row">Order With Scheduling</th>
							<td>The Scheduling Team is trying to contact the patient to book an appointment</td>
						<% } else if (order["Work In Progress_WIP State"] === pendingPatientContact[i]) { %>
							<th scope="row">Pending Patient Contact</th>
							<td>We need information from the patient - we are awaiting a call back</td>
						<% } else if (order["Work In Progress_WIP State"] === priAuthPending[i]) { %>
							<th scope="row">Prior Authorization Pending</th>
							<td>We have submitted a prior authorization and are awaiting feedback from the insurance company</td>
						<% } else if (order["Work In Progress_WIP State"] === ptReqDelay[i]) { %>
							<th scope="row">PT Requested Delay</th>
							<td>The patient has requested we call back at a later date</td>
						<% } else if (order["Work In Progress_WIP State"] === qualPending[i]) { %>
							<th scope="row">Qualification Pending</th>
							<td>We have received a new referral and are working on qualifying it with the patient's insurance company</td>
						<% } else if (order["Work In Progress_WIP State"] === remoteSetupPend[i]) { %>
							<th scope="row">Remote Setup Pending</th>
							<td>The patient has requested a remote setup, we are awaiting signed documents prior to shipping</td>
						<% } else if (order["Work In Progress_WIP State"] === setupComplete[i]) { %>
							<th scope="row">Setup Complete</th>
							<td>The setup is complete and/or the order has been delivered</td>
						<% } else if (order["Work In Progress_WIP State"] === stagedDelivery[i]) { %>
							<th scope="row">Staged for Delivery</th>
							<td>The order is approved and awaiting shipment in our warehouse</td>
						<% } else if (order["Work In Progress_WIP State"] === stagedPickup[i]) { %>
							<th scope="row">Staged for Pickup</th>
							<td>The order is approved and is staged for pickup at one of our locations</td>
						<% } else { %>
							
						<% } %>
						<% } %>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-md-12">
			<h4 class="mt-5 mb-3">Progress</h4>
			<div class="progress">
				<% for (i = 0; i < qualPending.length; i++) { %>
					<% if (order["Work In Progress_WIP State"] === apptBooked[i]) { %>
						<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">10%</div>
					<% } else if (order["Work In Progress_WIP State"] === awaitConfirmation[i]) { %>
						<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"><strong>80%</strong></div>
					<% } else { %>
						<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%</div>
					<% } %>
				<% } %>
			</div>
		</div>
		
		<div class="col-md-12">
			<h4 class="mt-5 mb-3">Still Have Questions?</h4>
			<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
				<a class="btn hcm-btn my-sm-0 mx-sm-1" role="button" data-toggle="collapse" href="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
				<span aria-hidden="true"></span>Send Email</a>
			<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
				<a class="btn cape-btn my-sm-0 mx-sm-1" role="button" data-toggle="collapse" href="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
				<span aria-hidden="true"></span>Send Email</a>
			<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
				<a class="btn ahcah-btn my-sm-0 mx-sm-1" role="button" data-toggle="collapse" href="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
				<span aria-hidden="true"></span>Send Email</a>
			<% } else { %>
				<!-- Add all other companies here -->
			<% } %>
			<div class="collapse" id="collapseEmail">
				<form action="/orders/<%= order._id %>" method="POST">
					<div class="form-group mt-3">
						<label>From</label>
						<input name="from" autofocus class="form-control" value="<%= currentUser.email %>" disabled>
					</div>
					<div class="form-group">
						<label>To</label>
						<input name="to" autofocus class="form-control" value="info@hcmatco.com" disabled>
					</div>
					<div class="form-group">
						<label>Subject</label>
						<input name="subject" autofocus class="form-control" value="Question Regarding Order #<%= order.SalesOrderId %>" disabled>
					</div>
					<div class="form-group">
						<label>Message</label>
						<textarea name="message" autofocus class="form-control" rows="4" cols="100%" required></textarea>
					</div>
					<div class="form-group">
						<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
							<input type="submit" class="btn button-style btn-md hcm-btn" value="Send">
						<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
							<input type="submit" class="btn button-style btn-md cape-btn" value="Send">
						<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
							<input type="submit" class="btn button-style btn-md ahcah-btn" value="Send">
						<% } else { %>
							<!-- Add all other companies here -->
						<% } %>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>