<%- include("../partials/header") %>

<div class="container">
	<a class="btn button-style btn-md green-btn mb-5" href="/orders?lastName=<%= order.lastName %>&dob=<%= order.dateOfBirth %>&address=<%= order.address %>" role="button">Back To Order Search</a>
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th class="table-title" scope="col">Sales Order: <%= order.orderId %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Order Status</th>
						<td><%= order.wipState %></td>
					</tr>
					<tr>
						<th scope="row">Date Created</th>
						<td><%= order.dateCreated %></td>
					</tr>
					<% if (!order.qualDate) { %>
						<tr>
							<th scope="row">Qualification Date</th>
							<td>Pending Qualification</td>
						</tr>
					<% } else { %>
						<tr>
							<th scope="row">Qualification Date</th>
							<td><%= order.qualDate %></td>
						</tr>
					<% } %>
					<% if (!order.actualDate) { %>
						<tr>
							<th scope="row">Actual Date</th>
							<td>Pending Delivery</td>
						</tr>
					<% } else { %>
						<tr>
							<th scope="row">Actual Date</th>
							<td><%= order.actualDate %></td>
						</tr>
					<% } %>
					<tr>
						<th scope="row">Marketing Rep</th>
						<td>Jay Hogan</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <div class="col-md-2"></div> -->
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th class="table-title" scope="col">Patient Information: <%= order.patientId %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Full Name</th>
						<td><%= order.firstName + " " + order.lastName %></td>
					</tr>
					<tr>
						<th scope="row">Date of Birth</th>
						<td><%= order.dateOfBirth %></td>
					</tr>
					<tr>
						<th scope="row">Address</th>
						<td><%= order.address %></td>
					</tr>
					<tr>
						<th scope="row">City / State / Zip Code</th>
						<td><%= order.city + ", " + order.state + " " + order.zipCode %></td>
					</tr>
					<tr>
						<th scope="row">Primary Insurance</th>
						<td><%= order.priInsurance %></td>
					</tr>
					<% if (!order.secInsurance) { %>
						<tr>
							<th scope="row">Secondary Insurance</th>
							<td>No Secondary Insurance on file</td>
						</tr>
					<% } else { %>
						<tr>
							<th scope="row">Secondary Insurance</th>
							<td><%= order.secInsurance %></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<h4 class="mt-5 mb-3">Order Status Clarification</h4>
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th scope="col">Order Status Name</th>
						<th scope="col">Order Status Description</th>
					</tr>
				</thead>
				<tbody>
					<% if (order.wipState === "In Progress") { %>
						<tr>
							<th scope="row">In Progress</th>
							<td>In the course of being done or carried out.</td>
						</tr>
					<% } else if (order.wipState === "Complete") { %>
						<tr>
							<th scope="row">Complete</th>
							<td>Patient has received all products</td>
						</tr>
					<% } else if (order.wipState === "Out for Delivery") { %>
						<tr>
							<th scope="row">Out for Delivery</th>
							<td>The order has been processed and will be delivered in the next 5 business days</td>
						</tr>
					<% } else if (order.wipState === "Not yet created") { %>
						<tr>
							<th scope="row">Not Yet Created</th>
							<td>The order has not been created in our system</td>
						</tr>
					<% } else { %>
						<tr>
							<th scope="row">Need More Info</th>
							<td>We have received the order but need more information to qualify the patient</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<h4 class="mt-5 mb-3">Still Have Questions?</h4>
			<a class="btn green-btn my-sm-0 mx-sm-1" role="button" data-toggle="collapse" href="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
			<span aria-hidden="true"></span>Send Email</a>
			<div class="collapse" id="collapseEmail">
				<form action="/orders/<%= order._id %>" method="POST">
					<div class="form-group mt-3">
						<label>From</label>
						<input name="from" autofocus class="form-control" value="<%= currentUser.email %>" disabled>
					</div>
					<div class="form-group">
						<label>To</label>
						<input name="to" autofocus class="form-control" value="info@hcmatco.com" disabled>
					</div>
					<div class="form-group">
						<label>Subject</label>
						<input name="subject" autofocus class="form-control" value="Question Regarding Order #<%= order.orderId %>" disabled>
					</div>
					<div class="form-group">
						<label>Message</label>
						<textarea name="message" autofocus class="form-control" rows="4" cols="100%" required></textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="btn button-style btn-md green-btn" value="Send">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>