<%- include("../partials/header") %>

<div class="container">
	<form action="/users/<%= user._id %>?_method=PUT" method="POST">
		<div class="row">
			<div class="col-md-12">
				<!-- <div>
					<h4>Username: <input class="form-control" type="text" name="user[username]" value="<%= user.username %>"></h4>
					<input class="form-control" type="text" name="user[avatar]" value="<%= user.avatar %>">
				</div> -->
				<table class="table table-striped">
					<tbody>
						<% if (currentUser.isAdmin) { %>
							<tr>
								<th scope="row">Username</th>
								<td><input class="form-control" type="text" name="user[username]" value="<%= user.username %>"></td>
							</tr>
							<tr>
								<th scope="row">Avatar</th>
								<td><input class="form-control" type="text" name="user[avatar]" placeholder="Image URL" value="<%= user.avatar %>"></td>
							</tr>
							<tr>
								<th scope="row">First Name</th>
								<td><input class="form-control" type="text" name="user[firstName]" value="<%= user.firstName %>"></td>
							</tr>
							<tr>
								<th scope="row">Last Name</th>
								<td><input class="form-control" type="text" name="user[lastName]" value="<%= user.lastName %>"></td>
							</tr>
							<tr>
								<th scope="row">Email</th>
								<td><input class="form-control" type="email" name="user[email]" value="<%= user.email %>"></td>
							</tr>
							<tr>
								<th scope="row">Associated Branch</th>
								<td><input class="form-control" type="text" name="user[branchAssoc]" value="<%= user.branchAssoc %>"></td>
							</tr>
							<tr>
								<th scope="row">Admin</th>
									<td><input class="form-control" type="text" name="user[isAdmin]" value="<%= user.isAdmin %>"></td>
								<!-- <td><input class="form-control" type="type" name="user[isAdmin]" value="<%= user.isAdmin %>"></td> -->
							</tr>
						<% } else { %>
							<tr>
								<th scope="row">Username</th>
								<td><input class="form-control" type="text" name="user[username]" value="<%= user.username %>" disabled></td>
							</tr>
							<tr>
								<th scope="row">Avatar</th>
								<td><input class="form-control" type="text" name="user[avatar]" placeholder="Image URL" value="<%= user.avatar %>"></td>
							</tr>
							<tr>
								<th scope="row">First Name</th>
								<td><input class="form-control" type="text" name="user[firstName]" value="<%= user.firstName %>" disabled></td>
							</tr>
							<tr>
								<th scope="row">Last Name</th>
								<td><input class="form-control" type="text" name="user[lastName]" value="<%= user.lastName %>" disabled></td>
							</tr>
							<tr>
								<th scope="row">Email</th>
								<td><input class="form-control" type="email" name="user[email]" value="<%= user.email %>" disabled></td>
							</tr>
							<tr>
								<th scope="row">Role</th>
								<td><input class="form-control" type="text" name="user[role]" value="<%= user.role %>" disabled></td>
							</tr>
							<tr>
								<th scope="row">Associated Branch</th>
								<td><input class="form-control" type="text" name="user[assocBranch]" value="<%= user.branchAssoc %>" disabled></td>
							</tr>
						<% } %>
					</tbody>
				</table>
				<div class="btn-inline">
					<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
						<button class="btn btn-md btn-default button-style hcm-btn">Save</button>
						<a class="btn button-style btn-md hcm-btn ml-2" href="/users/<%= user._id %>" role="button">Cancel</a>
					<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
						<button class="btn btn-md btn-default button-style cape-btn">Save</button>
						<a class="btn button-style btn-md cape-btn ml-2" href="/users/<%= user._id %>" role="button">Cancel</a>
					<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
						<button class="btn btn-md btn-default button-style ahcah-btn">Save</button>
						<a class="btn button-style btn-md ahcah-btn ml-2" href="/users/<%= user._id %>" role="button">Cancel</a>
					<% } else { %>
					<!-- Add all other companies here -->
						<button class="btn btn-md btn-default button-style global-btn">Save</button>
						<a class="btn button-style btn-md global-btn ml-2" href="/users/<%= user._id %>" role="button">Cancel</a>
					<% } %>
				</div>
			</div>
		</div>
	</form>
</div>

<%- include("../partials/footer") %>