<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div>
				<h4 class="profile-header">Username: <%= user.username %></h4>
				<% if (!user.avatar && user.branchAssoc == "Health Complex-Waterbury") { %>
					<img class="avatar" src="/images/health_complex_icon_rgb.png" alt="Health Complex Logo">
				<% } else if (!user.avatar && user.branchAssoc == "Cape Medical Supply Sandwich") { %>
					<img class="avatar" src="/images/cape-orb-white-back.png" alt="Cape Medical Logo">
				<% } else { %>
					<img class="avatar" src="<%= user.avatar %>" alt="Avatar">
				<!-- Add all other companies here -->
				<% } %>
			</div>
			<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
				<a class="btn button-style btn-md hcm-btn float-right" id="md-spacing" href="/users/<%= user._id %>/edit" role="button">Edit Information</a>
			<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
				<a class="btn button-style btn-md cape-btn float-right" id="md-spacing" href="/users/<%= user._id %>/edit" role="button">Edit Information</a>
			<% } else { %>
				<!-- Add all other companies here -->
			<% } %>
			<table class="table table-striped">
				<tbody>
					<tr>
						<th scope="row">Full Name</th>
						<td><%= user.firstName + " " + user.lastName %></td>
					</tr>
					<tr>
						<th scope="row">Email</th>
						<td><%= user.email %></td>
					</tr>
					<tr>
						<th scope="row">Role</th>
						<td><%= user.role %></td>
					</tr>
					<tr>
					<% for (let i = 0; i < user.branchAssoc.length; i++) { %>
						<th scope="row">Associated Branch</th>
						<td><%= user.branchAssoc[i] %></td>
					</tr>
					<% } %>
					<% if (user.isAdmin) { %>
						<tr>
						<th scope="row">Admin</th>
							<% if (!user.avatar && currentUser.branchAssoc == "Health Complex-Waterbury") { %>
								<td><a class="btn button-style btn-sm hcm-btn" id="md-spacing" href="/admin" role="button">Admin Page</a></td>
							<% } else if (!user.avatar && currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
								<td><a class="btn button-style btn-sm cape-btn" id="md-spacing" href="/admin" role="button">Admin Page</a></td>
							<% } else { %>
							<!-- Add all other companies here -->
							<% } %>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>